<% if current_user.favorited_by?(book.id) %>
  <p>
    <%= link_to book_favorites_path(book.id), class:"favorite-link", method: :delete, remote: true do %>
      <i class="fas fa-heart favorite-btn"></i><%= book.favorites.count %>
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to book_favorites_path(book.id), class:"favorite-link", method: :post, remote: true do %>
      <i class="far fa-heart unfavorite-btn"></i><%= book.favorites.count %>
    <% end %>
  </p>
<% end %>